# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/

# Local environment files
*.local
.env

# Coverage reports (if you use testing tools)
coverage/

# IDE-specific files (Visual Studio Code, JetBrains, etc.)
.vscode/*
!.vscode/extensions.json
.idea/

# Operating system-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Editor files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ESLint and Prettier cache (if using)
.eslintrc.cache
.prettierignore

# Vite-specific
vite.config.ts
vite.config.js
